@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 161 94% 3%;
    --card: 0 0% 100%;
    --card-foreground: 161 94% 3%;
    --popover: 0 0% 100%;
    --popover-foreground: 161 94% 3%;
    --primary: 161 84% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 157 72% 67%;
    --secondary-foreground: 161 94% 15%;
    --muted: 149 82% 90%;
    --muted-foreground: 161 40% 40%;
    --accent: 149 82% 90%;
    --accent-foreground: 161 84% 39%;
    --destructive: 0 84.2% 60.2%;
    --border: 161 30% 90%;
    --input: 161 30% 90%;
    --ring: 161 84% 39%;
    --radius: 0.625rem;
    --chart-1: 161 84% 39%;
    --chart-2: 157 72% 67%;
    --chart-3: 161 94% 31%;
    --chart-4: 149 82% 90%;
    --chart-5: 161 60% 50%;
  }

  .dark:root {
    --background: 161 30% 4%;
    --foreground: 0 0% 100%;
    --card: 161 30% 4%;
    --card-foreground: 0 0% 100%;
    --popover: 161 30% 4%;
    --popover-foreground: 0 0% 100%;
    --primary: 161 84% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 161 30% 12%;
    --secondary-foreground: 157 72% 67%;
    --muted: 161 30% 12%;
    --muted-foreground: 161 20% 70%;
    --accent: 161 30% 12%;
    --accent-foreground: 157 72% 67%;
    --destructive: 0 62.8% 30.6%;
    --border: 161 30% 18%;
    --input: 161 30% 18%;
    --ring: 161 84% 39%;
    --chart-1: 161 84% 39%;
    --chart-2: 157 72% 67%;
    --chart-3: 161 94% 31%;
    --chart-4: 149 82% 90%;
    --chart-5: 161 60% 50%;
  }
}
